// Grayscale
$gray-600: #8B97A6;
$gray-700: #606873;
$gray-800: #40464D;
$gray-900: #252830;

// Colors
$blue: #1997c6;
$indigo: #7877EF;
$purple: #9F86FF;
$pink: #E64796;
$red: #E64759;
$orange: #E68C42;
$yellow: #E4D836;
$green: #1BC98E;
$teal: #1BC98E;
$dark: $gray-900;

// Body
$body-bg: $gray-900;
$body-color: $gray-600;

// Brands
$primary: $green;
$info: $indigo;
$success: $green;
$warning: $orange;
$danger: $red;

// Type
$font-size-base: 14/16 * 1rem;
$text-muted: $gray-700;

// Headings
$headings-color: #f8f9fa;

// Navbar
$navbar-dark-color: $body-color;

// Table
$table-dark-bg: $body-bg;
$table-dark-color: $body-color;

// Forms
$input-bg: rgba(#000, .03);
$input-disabled-bg: $body-bg;
$input-color: $body-color;
$input-border-color: rgba(#000, .125);
$input-focus-bg: rgba(#000, .02);
$input-focus-color: lighten($body-color, 20%);

// Wizard
$wizard-color: rgba(#fff, .8);
$wizard-heading-color: #fff;
$wizard-max-width: 40rem;
$wizard-padding: 2rem;
$wizard-vertical-rhythm: 2rem;
$wizard-transition: all .5s ease-in-out;
$wizard-label-transition: all .2s ease-out;
